section{
    margin: 10px;
}

body{

    background-color: beige;
    font-family: "Source Sans 3", sans-serif;
}

header{
    position: sticky;
    background-color: #875C35;
    color: white;
    text-align: center;
}

.navbar{
    background-color: #875C35;
    color: white;
    display: flex;
}

.navbar ul{
    margin-left: auto;
    overflow: auto;
}

.navbar li{
    padding: 10px;
    list-style: none;
    float: left;
    margin: 10px;
}

.navbar li a{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    background-color: #D2B48C;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    transition: 0.2s ease all;
}

.imageicon{
    flex: 1;
}

.imageicon img{
    float: left;
    border-color: black;
    margin: 20px 20px 20px 100px;
}

/* Welcome Section */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 50px;
    align-items: center;
}

.welcome-text{
    float: left;
    padding-left: 30%;
    margin: 20px;
}

.wel-text{
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0px;
}

.tagline-text{
    font-size: 1.5rem;
    font-weight: 300;
}

.welcome-image{
    float: right;
    padding-right: 40%;
    width: 25%;
    height: 25%;
}

.welcome-image:hover{
    transform: scale(1.2);
    transition: 0.2s ease all;
}

/* Buttons */

button{
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.button-andriod{
    background-color: #875C35;
    border-radius: 10px;
    border: 0.5px solid #875C35;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-andriod:hover{
    background-color: #D6975D;
    border: none;
    color: black;
    transition: 0.2s ease all;
    transform: scale(1.1);
}

.button-ios{
    background-color: #875C35;
    border-radius: 10px;
    border: 0.5px solid #875C35;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-ios:hover{
    background-color: #D6975D;
    border: none;
    color: black;
    transition: 0.2s ease all;
    transform: scale(1.1);
}